    <!-- Download Section -->
    <section id="apply" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Registration</h2>
                    <h3>Before Oct 1, 2016: fill out application form:</h3>
                       <!-- eventbrite will come after  
                            <h3><a href="https://www.eventbrite.com/" class="btn btn-default btn-lg">Registration</a></h3>
                       -->
                        <h3><a href="https://form.jotform.com/62066401500138" class="btn btn-default btn-lg">Application form</a></h3> 
                    <h3>After Oct 1, 2016: if accepted, we will contact you to collect registration fee.</h3>  
                </div>
            </div>
        </div>
    </section>
