    <!-- Download Section -->
    <section id="apply" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>There are two steps required to apply to geohackweek 2016:<h2>
                        <p>Register here:</p>
                        <h3><a href="https://www.eventbrite.com/" class="btn btn-default btn-lg">Registration</a></h3>
                        <p>Fill in required information here:</p>
                        <h3><a href="https://form.jotform.com/62066401500138" class="btn btn-default btn-lg">form</a></h3> 
                      <p>After you complete these two steps we will e-mail you with a confirmation. <a href="mailto:{{ site.email }}">Contact us</a> if you have questions!</p>
                </div>
            </div>
        </div>
    </section>
