    <!-- Download Section -->
    <section id="apply" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- eventbrite will come after  
                    
                    <h2>The 2016 geohackweek application process is now closed.</h2>
                    
                    <h3>We are busy reviewing applications and will send out notices shortly.</h3>
                       
                    <h3><a href="https://www.eventbrite.com/" class="btn btn-default btn-lg">Registration</a></h3>
                       
                    <h3><a href="https://form.jotform.com/62066401500138" class="btn btn-default btn-lg">Application Form</a></h3> -->
                </div>
            </div>
        </div>
    </section>
