    <!-- Footer -->
    <footer>
        <div class="container text-center">
              <div class="row">
                <a href="http://escience.washington.edu"><image src="img/eScience_Logo_PMS.png" width=300></a>

                <a href="http://www.moore.org"><image src="img/MooreFdn.png" width=200></a>

                <a href="http://sloan.org"><image src="img/SloanLogo.png" width=200></a>

                <a href="http://www.cfr.washington.edu/"><image src="img/sefslogo.jpg" width=200></a>

                 <a href="https://www.engr.washington.edu/"><image src="img/engineering.jpg" width=200></a>

                 <a href="http://www.apl.washington.edu/"><image src="img/apl_logo_blue.jpg" width=75></a>
            </div>
            <br />
            <div class="row">
                <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
                <p></p>
                <p>Images copyright <a href="http://stoncel.com"><image src="img/stoncel.jpg" width=100></a></p>
            </div>
        </div>  
    </footer>
