    <!-- Footer -->
    <footer>
        <div class="container text-center">
          <div class="row">
            <div class="col-md-4">
            <a href="http://escience.washington.edu"><image src="img/eScience_Logo_PMS.png" width=300></a>
            </div>
            <div class="col-md-4">
            <a href="http://www.moore.org"><image src="img/MooreFdn.png" width=200></a>
            </div>
            <div class="col-md-4">
            <a href="http://sloan.org"><image src="img/SloanLogo.png" width=200></a>
            </div>

          </div>
            <div class="row">
    <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
        </div>
      </div>
    </footer>
