    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="brand-heading">Neurohackweek</h1>
                        <p class="intro-text"><h2>Summer school for geohacking and data science</h2></p>
                        <p>University of Washington eScience Institute</p>
                        <p>September 5th-9th, 2016</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
