    <!-- Instructor Section -->
    <section id="instructors" class="content-section text-center">
        <div class="row">
          <h2>Instructors</h2>
            <div class="col-md-6">
                  <p><a href="http://faculty.washington.edu/rjl/">Randy LeVeque, UW Applied Math</a></p>
            </div>
            <div class="col-md-6">
                  <p><a href="http://www.robfatland.net/research/">Rob Fatland, UW IT Director of Cloud and Data Solutions</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                  <p><a href="http://escience.washington.edu/people/anthony-arendt/">Anthony Arendt, UW eScience, APL</a></p>
            </div>
            <div class="col=md-6">
                  <p><a href="http://www.thebutmanlab.com/catherine-kuhn/">Katherine Kuhn, UW Ecosystem Biogeochemistry Group</a></p>
            </div>  
          </div>
          
</section>
