    <!-- Instructor Section -->
    <section id="instructors" class="content-section text-center">
        <div class="row">
          <h2>Instructors</h2>
            <div class="col-md-6">
                  <p><a href="http://faculty.washington.edu/rjl/">Randy LeVeque, UW Applied Math</a></p>
            </div>
            <div class="col-md-6">
                  <p><a href="http://talyarkoni.org/">Rob Fatland, UW IT</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                  <p><a href="http://www.childmind.org/en/directory/scientists/ccraddock">Anthony Arendt, UW eScience, APL</a></p>
            </div>
          </div>
          
    </section>
