    <!-- Instructor Section -->
    <section id="instructors" class="container content-section text-center">
        <div class="row">
          <h2>Instructors</h2>
            <div class="col-md-6">
                  <p><a href="http://faculty.washington.edu/rjl/">Randy LeVeque, UW Applied Math</a></p>
            </div>
            <div class="col-md-6">
                  <p><a href="http://www.robfatland.net/research/">Rob Fatland, UW IT Director of Cloud and Data Solutions</a></p>
            </div>
          </div>
        <div class="row">
            <div class="col-md-6">
                <p><a href="http://escience.washington.edu/people/anthony-arendt/">Anthony Arendt, UW eScience, APL</a></p>
            </div>
            <div class="col=md-6">
                <p><a href="http://www.thebutmanlab.com/catherine-kuhn/">Catherine Kuhn, UW Ecosystem Biogeochemistry Group</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col=md-6">
                <p><a href="http://www.kallisonsmith.us/">Allison Smith, UW School of Oceanography</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col=md-6">
                <p><a href="http://staff.washington.edu/emiliom/">Emilio Mayorga, UW Applied Physics Lab</a></p>
            </div>
            <div class="col=md-6">
                <p><a href="https://www.linkedin.com/in/landungsetiawan">Landung "Don" Setiawan, UW Applied Physics Lab</a></p>
            </div>
        </div> 
        <div class="row">
            <div class="col=md-6">
                <p><a href="http://faculty.washington.edu/dacb/?page_id=78">David Beck, UW Chemical Engineering / eScience Institute</a></p>
            </div>
        </div> 
        <div class="row">
            <div class="col=md-6">
                <p><a href="http://psc.apl.uw.edu/people/post-docs/david-shean/">David Shean, UW Applied Physics Lab</a></p>
            </div>
        </div>                                
  <!--      <div class="row">
            <div class="col=md-6">
                <p><a href="http://www.naturalcapitalproject.org/">James Douglass, Natural Capital Project</a></p>
            </div>
  
        </div>   -->
        <div class="row">
            <div class="col=md-6">
                <p><a href="http://faculty.washington.edu/erkani/people.html">Christina Bandaragoda, Civil and Environmental Engineering</a></p>
            </div>
            <div class="row">
                <div class="col=md-6">
                    <p><a href="https://cloudmaven.github.io/documentation/">Amanda Tan, UW IT</a></p>
                </div>
             </div>       
    </section>
