    <!-- About Section -->
    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Tentative schedule</h2>
        <p></p>
      <table class="table-bordered">
        <thead align="center">
      <tr align="center">
        <th align="center">Time</th>
        <th align="center">Sunday</th>
        <th align="center">Monday</th>
        <th align="center">Tuesday</th>
        <th align="center">Wednesday</th>
        <th align="center">Thursday</th>
        <th align="center">Friday</th>
        <th align="center">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Morning</td>
        <td></td>
        <td>Exploratory data analysis and visualization</td>
        <td>Open data sets in neuroscience</td>
        <td>Image processing</td>
        <td>Machine learning</td>
        <td>Reproducible research pipelines</td>
        <td>Check out and departure</td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td></td>
        <td>Data science tools</td>
        <td>Team projects</td>
        <td>Team projects</td>
        <td>Team projects</td>
        <td>Project presentations</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>Arrival and check in</td>
        <td>Welcome reception</td>
        <td>Hackathon sessions</td>
        <td>Hackathon sessions</td>
        <td>Seattle outing</td>
        <td>Farewell reception</td>
      </tr>
    </tbody>
  </table>
</div>
    </section>
