<!-- Three -->
<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Our Sponsors</h2>
			<p>
				Thanks to our sponsors that make this event possible.
			</p>
		</header>
		<div class="sponsors">
			<div class="sponsors-row">
				<div class="sponsors-logo">
					<img src="assets/images/escience.png" alt="">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/moore.png" alt="">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/sloan.png" alt="">
				</div>

			</div>
			<div class="sponsors-row">
				<div class="sponsors-logo">
					<img src="https://user-images.githubusercontent.com/4993098/39888620-2ccb6448-544a-11e8-921c-29701a99eb37.jpg" alt="">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/COE_UW_purp.png" alt="">
				</div>
			</div>
			<div class="sponsors-row">
				<div class="sponsors-logo">
					<img src="assets/images/sefs.png" alt="">
				</div>
				<div class="sponsors-logo">
					<img src="https://user-images.githubusercontent.com/4993098/39888619-2caf8214-544a-11e8-91d0-93ca10c1767d.jpg" alt="">
				</div>
			</div>
			<div class="sponsors-row">
				<div class="sponsors-logo">
				   <img src="assets/images/Gigantum.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
