<!-- Three -->
<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Our Sponsors</h2>
			<p>
				Thanks to our sponsors that make this event possible.
			</p>
		</header>
		<!--<div>-->
			<!--<img src="assets/images/escience.png" alt="">-->
			<!--<img src="assets/images/moore.png" alt="">-->
			<!--<img src="assets/images/sloan.png" alt="">-->
			<!--<img src="assets/images/apl_logo_blue.png" alt="">-->
			<!--<img src="assets/images/uwamath.gif" alt="">-->
			<!--<img src="assets/images/COE_UW_purp.png" alt="">-->
			<!--<img src="assets/images/sefs.png" alt="">-->
		<!--</div>-->
	</div>
</section>
